<div class="compani_1">
    <div class="pages">
        <div>Главная</div>
        <img src="/assets/Arrow_7.svg" alt="">
        <div>О компании</div>
    </div>
    <div class="compani_2">О компании</div>
</div>
<div class="map">
    <div class="contacts">
       <div class="contacts_emai_tel">
        <div class="img_tel">
            <img src="/assets/Tel_companiya.svg" alt="">
            <div>Контактный телефон</div>
        </div>
        <div class="img_email">
            <img src="/assets/sms.svg" alt="">
            <div>Электронная почта</div>
        </div>
       </div>
       <div class="contacts_compani">
            <div class="contacts_telefon">
                <div>
                    <a tel="+78123090934">+ 7 (812) 309-09-34</a>
                </div>
                <div class="cont_tel_2">
                    <a tel="+79650842909">+ 7 (965) 084-29-09</a>
                </div>
        </div>
        <div class="contacts_email">
                <div>
                    <a email="tustin78@mail.ru">tustin78&#64;mail.ru</a>
                </div>
                <div class="cont_email_2">
                    <a email="info@tustin.ru">info&#64;tustin.ru</a>
                </div>
        </div>
       </div>
    </div>
</div>