.user_box {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 20px;
}

.delete_users {
    background-color: rgb(87, 87, 88);


}