// .form {
//     margin-left: 240px;
//     margin-top: 30px;
// }

// .create_input {
//     width: 100px;
//     margin-left: 240px;
// }

// .example-full-width {
//     width: 300px;
// }

// .button_create {
//     width: 300px;
// }

.button_users {
    margin-left: 800px;
    margin-top: 50px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

// .create_input {
//     display: flex;
//     justify-content: center;
//     width: 1320px;
//     height: 300px;
//     margin: 0 auto;
//     align-items: center;
// }
